@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Outfit:wght@300&display=swap');
:root {
    --accent-bg: hsl(178, 100%, 50%);
    --accent-text:  hsl(215, 51%, 70%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --border-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    --ff: 'Outfit', sans-serif;
    --fs: 18px;
    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body {
    background-color: var(--main-bg);
    min-height: 100vh;
    display: grid;
    place-content: center;

}
.pointer {
    cursor: pointer;
}
.main-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.image-container {
    background-image: url(images/image-equilibrium.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.overlay {
    display: grid;
    place-content: center;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    transition: background-color .3s;
    /* mix-blend-mode: overlay; */


}
.overlay:hover {
    background-color: hsla(178, 100%, 50%, 0.226);
}
.eye-icon {
    opacity: 0;
    transition: opacity .3s;
}
.image-container:hover .eye-icon {
    opacity: 1;
}
.text-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.title {
    color: var(--White);
    transition: color .3s;
}
.text {
    color: var(--accent-text);
    line-height: 1.5;
}
.title:hover {
    color: var(--accent-bg);
}
.profile-image {
    width: 40px;
    aspect-ratio: 1;
    border: 1px solid #fff;
    border-radius: 50%;
}

.flex-group.row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-line);
    padding-bottom: 2rem;
}
main {
    background-color: var(--card-bg);
    border-radius: 15px;
    padding: 23px;
    width: min(90%, 23rem);
    margin-inline: auto;
}
.flex-group.col {
    color: var(--accent-text);
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: var(--fs);
}
.profile-detail {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
}
.code {
    color: var(--accent-bg);
}
figcaption .text {
    color: var(--accent-text);
    font-size: calc(var(--fs) + 2px);
}
.user-name {
    color: var(--White);
    transition: color .3s;
}
.user-name:hover {
    color: var(--accent-bg);
}
